<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Мови` taxonomy...</div>
<div class="progress-msg">Composing terms for `Категорії товарів` taxonomy...</div>
<div class="progress-msg">Composing terms for `Позначки товарів` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Сансет Sunset`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Сансет Sunset`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Сансет Sunset`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Сансет Sunset`</div>
<div class="progress-msg"><b>CREATING</b> `Сансет Sunset` `Товар`</div>
<div class="progress-msg">Associate post `Сансет Sunset` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `dyyrwoki.jpg` for `Сансет Sunset` ...</div>
<div class="progress-msg">- Using existing image `dyyrwoki.jpg` for post `Сансет Sunset` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/dyyrwoki.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Сансет Sunset` `Товар` (ID: 4054)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Эдо Edo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Эдо Edo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Эдо Edo`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Эдо Edo`</div>
<div class="progress-msg"><b>CREATING</b> `Эдо Edo` `Товар`</div>
<div class="progress-msg">Associate post `Эдо Edo` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `n2f2sin5.jpg` for `Эдо Edo` ...</div>
<div class="progress-msg">- Using existing image `n2f2sin5.jpg` for post `Эдо Edo` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/n2f2sin5.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Эдо Edo` `Товар` (ID: 4055)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ректус Rektus`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ректус Rektus`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ректус Rektus`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ректус Rektus`</div>
<div class="progress-msg"><b>CREATING</b> `Ректус Rektus` `Товар`</div>
<div class="progress-msg">Associate post `Ректус Rektus` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ql0fswta.jpg` for `Ректус Rektus` ...</div>
<div class="progress-msg">- Using existing image `ql0fswta.jpg` for post `Ректус Rektus` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/ql0fswta.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ректус Rektus` `Товар` (ID: 4056)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Лена Lena`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Лена Lena`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Лена Lena`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Лена Lena`</div>
<div class="progress-msg"><b>CREATING</b> `Лена Lena` `Товар`</div>
<div class="progress-msg">Associate post `Лена Lena` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `bm2dihhm.jpg` for `Лена Lena` ...</div>
<div class="progress-msg">- Using existing image `bm2dihhm.jpg` for post `Лена Lena` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/bm2dihhm.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Лена Lena` `Товар` (ID: 4057)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Петио Petio`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Петио Petio`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Петио Petio`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Петио Petio`</div>
<div class="progress-msg"><b>CREATING</b> `Петио Petio` `Товар`</div>
<div class="progress-msg">Associate post `Петио Petio` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `k3jg4yu1.jpg` for `Петио Petio` ...</div>
<div class="progress-msg">- Using existing image `k3jg4yu1.jpg` for post `Петио Petio` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/k3jg4yu1.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Петио Petio` `Товар` (ID: 4058)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Лион Lyon`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Лион Lyon`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Лион Lyon`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Лион Lyon`</div>
<div class="progress-msg"><b>CREATING</b> `Лион Lyon` `Товар`</div>
<div class="progress-msg">Associate post `Лион Lyon` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `erbxidlg.jpg` for `Лион Lyon` ...</div>
<div class="progress-msg">- Using existing image `erbxidlg.jpg` for post `Лион Lyon` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/erbxidlg.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Лион Lyon` `Товар` (ID: 4059)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ламия Lamia`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ламия Lamia`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ламия Lamia`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ламия Lamia`</div>
<div class="progress-msg"><b>CREATING</b> `Ламия Lamia` `Товар`</div>
<div class="progress-msg">Associate post `Ламия Lamia` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `cejpmpll.jpg` for `Ламия Lamia` ...</div>
<div class="progress-msg">- Using existing image `cejpmpll.jpg` for post `Ламия Lamia` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/cejpmpll.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ламия Lamia` `Товар` (ID: 4060)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Селин Celine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Селин Celine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Селин Celine`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Селин Celine`</div>
<div class="progress-msg"><b>CREATING</b> `Селин Celine` `Товар`</div>
<div class="progress-msg">Associate post `Селин Celine` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `21kw1c05.jpg` for `Селин Celine` ...</div>
<div class="progress-msg">- Using existing image `21kw1c05.jpg` for post `Селин Celine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/21kw1c05.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Селин Celine` `Товар` (ID: 4061)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кватро Quatro`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кватро Quatro`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кватро Quatro`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кватро Quatro`</div>
<div class="progress-msg"><b>CREATING</b> `Кватро Quatro` `Товар`</div>
<div class="progress-msg">Associate post `Кватро Quatro` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `1o4g4skp.jpg` for `Кватро Quatro` ...</div>
<div class="progress-msg">- Using existing image `1o4g4skp.jpg` for post `Кватро Quatro` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/1o4g4skp.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кватро Quatro` `Товар` (ID: 4062)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кайо Cayo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кайо Cayo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кайо Cayo`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кайо Cayo`</div>
<div class="progress-msg"><b>CREATING</b> `Кайо Cayo` `Товар`</div>
<div class="progress-msg">Associate post `Кайо Cayo` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `strle05h.jpg` for `Кайо Cayo` ...</div>
<div class="progress-msg">- Using existing image `strle05h.jpg` for post `Кайо Cayo` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/strle05h.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кайо Cayo` `Товар` (ID: 4063)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кайли Kylie`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кайли Kylie`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кайли Kylie`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кайли Kylie`</div>
<div class="progress-msg"><b>CREATING</b> `Кайли Kylie` `Товар`</div>
<div class="progress-msg">Associate post `Кайли Kylie` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `njbracer.jpg` for `Кайли Kylie` ...</div>
<div class="progress-msg">- Using existing image `njbracer.jpg` for post `Кайли Kylie` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/njbracer.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кайли Kylie` `Товар` (ID: 4064)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кармела Karmela`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кармела Karmela`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кармела Karmela`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кармела Karmela`</div>
<div class="progress-msg"><b>CREATING</b> `Кармела Karmela` `Товар`</div>
<div class="progress-msg">Associate post `Кармела Karmela` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `kjptf5jx.jpg` for `Кармела Karmela` ...</div>
<div class="progress-msg">- Using existing image `kjptf5jx.jpg` for post `Кармела Karmela` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/kjptf5jx.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кармела Karmela` `Товар` (ID: 4065)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Имперор Imperor`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Имперор Imperor`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Имперор Imperor`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Имперор Imperor`</div>
<div class="progress-msg"><b>CREATING</b> `Имперор Imperor` `Товар`</div>
<div class="progress-msg">Associate post `Имперор Imperor` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `dgo5uwln.jpg` for `Имперор Imperor` ...</div>
<div class="progress-msg">- Using existing image `dgo5uwln.jpg` for post `Имперор Imperor` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/dgo5uwln.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Имперор Imperor` `Товар` (ID: 4066)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Барато Barato`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Барато Barato`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Барато Barato`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Барато Barato`</div>
<div class="progress-msg"><b>CREATING</b> `Барато Barato` `Товар`</div>
<div class="progress-msg">Associate post `Барато Barato` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `2a3jimha.jpg` for `Барато Barato` ...</div>
<div class="progress-msg">- Using existing image `2a3jimha.jpg` for post `Барато Barato` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/2a3jimha.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Барато Barato` `Товар` (ID: 4067)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Калипсо Kalipso`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Калипсо Kalipso`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Калипсо Kalipso`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Калипсо Kalipso`</div>
<div class="progress-msg"><b>CREATING</b> `Калипсо Kalipso` `Товар`</div>
<div class="progress-msg">Associate post `Калипсо Kalipso` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `zhkhdivs.jpg` for `Калипсо Kalipso` ...</div>
<div class="progress-msg">- Using existing image `zhkhdivs.jpg` for post `Калипсо Kalipso` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/zhkhdivs.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Калипсо Kalipso` `Товар` (ID: 4068)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Аргус Argus`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Аргус Argus`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Аргус Argus`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Аргус Argus`</div>
<div class="progress-msg"><b>CREATING</b> `Аргус Argus` `Товар`</div>
<div class="progress-msg">Associate post `Аргус Argus` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `4e5odzax.jpg` for `Аргус Argus` ...</div>
<div class="progress-msg">- Using existing image `4e5odzax.jpg` for post `Аргус Argus` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/4e5odzax.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Аргус Argus` `Товар` (ID: 4069)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Милена Milena`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Милена Milena`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Милена Milena`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Милена Milena`</div>
<div class="progress-msg"><b>CREATING</b> `Милена Milena` `Товар`</div>
<div class="progress-msg">Associate post `Милена Milena` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `xj1dlb4i.jpg` for `Милена Milena` ...</div>
<div class="progress-msg">- Using existing image `xj1dlb4i.jpg` for post `Милена Milena` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/xj1dlb4i.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Милена Milena` `Товар` (ID: 4070)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Акона Akona`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Акона Akona`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Акона Akona`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Акона Akona`</div>
<div class="progress-msg"><b>CREATING</b> `Акона Akona` `Товар`</div>
<div class="progress-msg">Associate post `Акона Akona` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ihcehrp5.jpg` for `Акона Akona` ...</div>
<div class="progress-msg">- Using existing image `ihcehrp5.jpg` for post `Акона Akona` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/ihcehrp5.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Акона Akona` `Товар` (ID: 4071)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ада Ada`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ада Ada`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ада Ada`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ада Ada`</div>
<div class="progress-msg"><b>CREATING</b> `Ада Ada` `Товар`</div>
<div class="progress-msg">Associate post `Ада Ada` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `1au2ofv1.jpg` for `Ада Ada` ...</div>
<div class="progress-msg">- Using existing image `1au2ofv1.jpg` for post `Ада Ada` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/1au2ofv1.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ада Ada` `Товар` (ID: 4072)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Аврора`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Аврора`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Аврора`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Аврора`</div>
<div class="progress-msg"><b>CREATING</b> `Аврора` `Товар`</div>
<div class="progress-msg">Associate post `Аврора` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ay5c3bpz.jpg` for `Аврора` ...</div>
<div class="progress-msg">- Using existing image `ay5c3bpz.jpg` for post `Аврора` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/ay5c3bpz.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Аврора` `Товар` (ID: 4073)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
