
            /** ----------------------------------------------------------------
             ******** General Style
             ---------------------------------------------------------------- **/

            .header-top-nav___ru .suppa_holder{
                height:50px !important;
            }

            .header-top-nav___ru.suppaMenu_wrap {
                height:50px !important;
                z-index:300;
            }

            .header-top-nav___ru.suppaMenu_wrap_wide_layout {
                background-color:#f5f5f3;

                /* Borders */
                border-top: 0px solid #111111;
                border-left: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                
            }

            .header-top-nav___ru .suppaMenu {

                width:100%;
                z-index:300;
                height:50px !important;

                background-color:#f5f5f3;

                /* Borders */
                border-top: 0px solid #111111;
                border-right: 0px solid #111111;
                border-bottom: 0px solid #111111;
                border-left: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 0px 0px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
                box-shadow        : 0px 0px 0px 0px rgba(0,0,0,0.2);

                /* CSS3 Border Radius */
                -webkit-border-radius: 0px 0px 0px 0px;
                -moz-border-radius: 0px 0px 0px 0px;
                border-radius: 0px 0px 0px 0px;

            }


            /** ----------------------------------------------------------------
             ******** Logo Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_logo.logo_left_menu_right{
                height:50px !important;
                border-right:1px solid #e7e4d9 !important;
            }
            .header-top-nav___ru .suppa_menu_logo.logo_right_menu_left{
                height:50px !important;
                border-left:1px solid #e7e4d9 !important;
            }

            .header-top-nav___ru .suppa_menu_logo.logo_top_center,
            .header-top-nav___ru .suppa_menu_logo.logo_top_left,
            .header-top-nav___ru .suppa_menu_logo.logo_top_right{
                width:100%;
            }

            .header-top-nav___ru .logo_top_center,
            .header-top-nav___ru .logo_top_left,
            .header-top-nav___ru .logo_top_right {

                background-color:transparent;

                /* Borders */
                border-top: 0px solid #111111;
                border-right: 0px solid #111111;
                border-bottom: 0px solid #111111;
                border-left: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 0px 0px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
                box-shadow        : 0px 0px 0px 0px rgba(0,0,0,0.2);

                /* CSS3 Border Radius */
                -webkit-border-radius: 0px 0px 0px 0px;
                -moz-border-radius: 0px 0px 0px 0px;
                border-radius: 0px 0px 0px 0px;
            }

            .header-top-nav___ru .suppa_menu_logo img{
                padding-top:0px !important;
                padding-bottom:0px !important;
                padding-right:0px !important;
                padding-left:0px !important;
            }

            .header-top-nav___ru .suppa_rwd_logo img{
                padding-top:0px !important;
                padding-bottom:0px !important;
                padding-right:0px !important;
                padding-left:0px !important;
            }


            /** ----------------------------------------------------------------
             ******** Top Level Links Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_top_level_link {
                height:50px !important;
                color:#5f6366;
            }

            .header-top-nav___ru .suppa_top_level_link .suppa_item_title{
                font-size:14px !important;
                font-family:'Roboto' , sans-serif !important;
                font-style:normal;
                color:#5f6366;
                padding-top:18px;
            }

            .header-top-nav___ru .suppa_menu {
                height:50px !important;
            }

            .header-top-nav___ru .suppa_menu_mega_posts .suppa_top_level_link ,
            .header-top-nav___ru .suppa_menu_dropdown .suppa_top_level_link ,
            .header-top-nav___ru .suppa_menu_posts .suppa_top_level_link ,
            .header-top-nav___ru .suppa_menu_html .suppa_top_level_link ,
            .header-top-nav___ru .suppa_menu_links .suppa_top_level_link,
            .header-top-nav___ru .suppa_menu_linksTwo .suppa_top_level_link{
                padding-left:30px;
                padding-right:30px;
                border-color:#e7e4d9;
            }

            .header-top-nav___ru .suppa_menu .suppa_top_level_link.suppa_top_links_has_arrow{
                padding-right:40px;
            }

            /** ----------------------------------------------------------------
             ******** Description Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_top_level_link .suppa_item_desc{
                font-size:12px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;
                color:#c9c9c9;
                padding-top:5px !important;
            }
            .header-top-nav___ru .suppa_menu:hover .suppa_top_level_link .suppa_item_desc{
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Top Level Links on [HOVER] Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu:hover .suppa_top_level_link{
                background-color:#F7972B;
                color:#ffffff;
            }
            .header-top-nav___ru .suppa_menu:hover .suppa_top_level_link .suppa_item_title{
                color:#ffffff;
            }

            /** Needed for suppa_frontend.js **/
            .header-top-nav___ru .suppa_menu.suppa_menu_class_hover .suppa_top_level_link{
                background-color:#F7972B;
                color:#ffffff;
            }
            .header-top-nav___ru .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .suppa_item_title{
                color:#ffffff;
            }
            .header-top-nav___ru .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .suppa_item_desc{
                color:#ffffff;
            }

            /* boder right or left */
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.suppa_menu_position_left,
            .header-top-nav___ru .suppa_menu .suppa_menu_position_left{
                border-right:1px solid #e7e4d9;
            }
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.suppa_menu_position_right,
            .header-top-nav___ru .suppa_menu .suppa_menu_position_right{
                border-left:1px solid #e7e4d9;
            }

            /** ----------------------------------------------------------------
             ******** Top Level Arrow Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_top_level_link .ctf_suppa_fa_box_top_arrow{
                    font-size:14px !important;
                    top:18px !important;
                    right:20px !important;

                    /* color/bg/border */
                    color:#5f6366;
            }
            .header-top-nav___ru .suppa_menu:hover .suppa_top_level_link .ctf_suppa_fa_box_top_arrow{
                color:#ffffff;
            }
            /** Needed for suppa_frontend.js **/
            .header-top-nav___ru .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .ctf_suppa_fa_box_top_arrow,
            .header-top-nav___ru .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .ctf_suppa_fa_box{
                color:#ffffff !important;
            }

            /** ----------------------------------------------------------------
             ******** Current Top Level Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-item,
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-item .ctf_suppa_fa_box,
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-item .suppa_item_title,
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-ancestor,
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-ancestor .ctf_suppa_fa_box,
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-ancestor .suppa_item_title{
                color:#ffffff ;
            }

            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-item,
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-ancestor {
                background-color:#F7972B;
            }

            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-ancestor .era_suppa_arrow_box span,
            .header-top-nav___ru .suppa_menu .suppa_top_level_link.current-menu-item .era_suppa_arrow_box span{
                color:#ffffff;
            }


            /** ----------------------------------------------------------------
             ******** Top Level Icons
             ---------------------------------------------------------------- **/
            /** F.Awesome Icons **/
            .header-top-nav___ru .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
                color:#5f6366;
            }
            .header-top-nav___ru .suppa_menu:hover .suppa_top_level_link .ctf_suppa_fa_box{
                color:#ffffff;
            }
            .header-top-nav___ru .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
                font-size:20px !important;
                margin-top: 16px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .header-top-nav___ru .suppa_menu .suppa_top_level_link .suppa_upload_img{
                width : 20px !important;
                height : 20px !important;
                margin-top: 16px !important;
                padding-right: 10px !important;
            }



            /** ----------------------------------------------------------------
             ******** General Submenu
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_submenu {

                top:50px !important;

                /* color/bg/border */
                background-color:#ffffff;

                border-top: 1px solid #e7e4d9;
                border-right: 1px solid #e7e4d9;
                border-bottom: 1px solid #e7e4d9;
                border-left: 1px solid #e7e4d9;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 0px 0px rgba( 100,100,100,0);
                -webkit-box-shadow: 0px 0px 0px 0px rgba( 100,100,100,0);
                box-shadow        : 0px 0px 0px 0px rgba( 100,100,100,0);

                /* CSS3 Border Radius */
                -webkit-border-radius: 0px 0px 0px 0px;
                -moz-border-radius: 0px 0px 0px 0px;
                border-radius: 0px 0px 0px 0px;
            }



            /** ----------------------------------------------------------------
             ******** SubMenu Posts
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_post {
                width: 209px;
            }
            .header-top-nav___ru .suppa_post a{
                width: 209px;
            }
            .header-top-nav___ru .suppa_post img{
                width: 209px;
                height: 160px;
            }
            .header-top-nav___ru .suppa_post div.suppa_post_link_container {
                width: 209px !important;
            }

            .header-top-nav___ru .suppa_post {
                margin: 30px 0px 30px 30px !important;
            }
            .header-top-nav___ru .suppa_post div.suppa_post_link_container {
                background-color: #ffffff;
            }
            .header-top-nav___ru .suppa_post span {
                font-size:14px !important;
                font-family:'Open Sans' , sans-serif !important;
                font-style:normal;

                padding: 10px 10px 10px 10px !important;

                /* color/bg/border */
                color:#646565;
            }

            .header-top-nav___ru .suppa_post span:hover ,
            .header-top-nav___ru .suppa_post span:hover {
                /* color/bg/border */
                color:#ffffff;
            }

            .header-top-nav___ru .suppa_latest_posts_view_all{
                font-size:14px !important;
                font-family:'Open Sans' , sans-serif !important;
                font-style:normal;
                padding: 30px 30px ;
                margin: 30px 30px;

                /* color/bg/border */
                color:#646565;
                background-color: #ffffff;
            }

            .header-top-nav___ru .suppa_latest_posts_view_all:hover{
                /* color/bg/border */
                color:#ffffff;
                background-color: #E58004;
            }


            /** ----------------------------------------------------------------
             ******** SubMenu Mega Links Two
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a {
                font-size:18px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;

                padding-top:    10px;
                padding-bottom: 10px;
                padding-left:   10px;
                padding-right:  10px;

                /* color/bg/border */
                color:#6b6b6b;
                border-bottom:1px solid #E58004;
            }
            .header-top-nav___ru .suppa_menu_linksTwo .suppa_linksTwo_categoriesContainer a:hover,
            .header-top-nav___ru .suppa_menu_linksTwo .suppa_linksTwo_categoriesContainer a.suppa_linksTwo_categoriesContainer_current {
                color:#ffffff;
                background-color:#E58004;
            }

            .header-top-nav___ru .suppa_menu_linksTwo .suppa_linksTwo_cat a {
                font-size:14px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;

                padding-top:    10px;
                padding-bottom: 10px;
                padding-left:   10px;
                padding-right:  10px;

                /* color/bg/border */
                color:#6b6b6b;
            }
            .header-top-nav___ru .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_cat a:hover {
                color:#E58004;
            }

            /** ----------------------------------------------------------------
             ******** SubMenu Mega Links Two Arrow Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a .suppa_megaLinksTwo_mainLinkArrow{
                top:13px !important;
                right:5px !important;
            }
            .header-top-nav___ru .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a .suppa_megaLinksTwo_mainLinkArrow span {
                font-size:14px !important;
                /* color/bg/border */
                color:#6b6b6b;
            }
            .header-top-nav___ru .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a:hover .suppa_megaLinksTwo_mainLinkArrow span,
            .suppa_linksTwo_categoriesContainer_current .suppa_megaLinksTwo_mainLinkArrow span{
                color:#FFFFFF !important;
            }


            /** ----------------------------------------------------------------
             ******** SubMenu Mega Posts
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories{
                margin-top:20px;
            }
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories a {
                font-family : 'Open Sans' , sans-serif !important;
                font-size:14px !important;
                font-style:normal;
                color :#484747;
                padding-top:10px;
                padding-left:0px;
                padding-bottom:10px;
                padding-right:0px;

                background-color:transparent;
            }
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_item_title{
                font-family : 'Open Sans' , sans-serif !important;
                font-size:14px !important;
                font-style:normal;
                color :#484747;
            }
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories a:hover,
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories a.suppa_mega_posts_cat_selected {
                background-color:#ffffff;
                color :#009CD5;
            }

            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories a:hover .suppa_item_title,
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories a.suppa_mega_posts_cat_selected .suppa_item_title{
                color :#009CD5;
            }
            .header-top-nav___ru .suppa_mega_posts_post_article {
                margin-top:20px;
                margin-left:20px;
                margin-bottom:20px;
                margin-right:0px;
            }

            .header-top-nav___ru .suppa_mega_posts_post_article span{
                font-family : 'Open Sans' , sans-serif !important;
                font-size:14px !important;
                font-style:normal;
                color :#646565;

                padding-top:10px;
                padding-left:10px;
                padding-bottom:10px;
                padding-right:10px;

            }

            .header-top-nav___ru .suppa_mega_posts_post_article div.suppa_post_link_container {
                background-color: #ffffff !important ;
            }

            .header-top-nav___ru .suppa_mega_posts_post_article:hover span{
                color :#ffffff;
            }

            .header-top-nav___ru .suppa_mega_posts_post_article {
                width : 200px !important;
            }
                .header-top-nav___ru .suppa_mega_posts_post_article img{
                    width : 200px !important;
                    height : 160px !important;
                }

            /** ----------------------------------------------------------------
             ******** Submenu Mega Posts Arrow Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_mega_posts_arrow {
                top:11px !important;
                right:5px !important;
            }
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_mega_posts_arrow span {
                font-size:14px !important;
                /* color/bg/border */
                color:#484747;
            }
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_categories a:hover .suppa_mega_posts_arrow span {
                color:#009CD5;
            }

            /** Needed for suppa_frontend.js **/
            .header-top-nav___ru .suppa_menu_mega_posts .suppa_mega_posts_cat_selected .suppa_mega_posts_arrow span{
                color:#009CD5 !important;
            }



            /** ----------------------------------------------------------------
             ******** Submenu Mega Links Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_column {
                margin-left:25px !important;
                margin-bottom:25px !important;
            }

            /* Column Title */
            .header-top-nav___ru .suppa_column_title {
                font-size:15px !important;
                font-family:'Roboto' , sans-serif !important;
                font-style:normal;
                color:#151515;
                border-bottom-color:#ffffff;
                padding: 0px 25px 15px 0px;
            }
                .header-top-nav___ru .suppa_column_title .suppa_item_title {
                    font-size:15px !important;
                    font-family:'Roboto' , sans-serif !important;
                    font-style:normal;
                    color:#151515;
                }

            .header-top-nav___ru .suppa_column_title:hover {
                padding-left : 10px !important;
                color:#151515;
            }
                .header-top-nav___ru .suppa_column_title:hover .suppa_item_title {
                    color:#151515;
                }

            /* Column Links */
            .header-top-nav___ru .suppa_column_link{
                font-size:14px !important;
                font-family:'Open Sans' , sans-serif !important;
                font-style:normal;
                color:#646565;
                padding-right:25px;
                padding-left: 0px ;
                padding-top: 10px ;
                padding-bottom: 10px ;
            }
                .header-top-nav___ru .suppa_column_link .suppa_item_title {
                    font-size:14px !important;
                    font-family:'Open Sans' , sans-serif !important;
                    font-style:normal;
                    color:#646565;
                }

            .header-top-nav___ru .suppa_column_link:nth-child(2) {
                margin-top:10px !important;
            }

            .header-top-nav___ru .suppa_column_link:hover {
                color:#F7972B;
                padding-left : 10px !important;
            }
                .header-top-nav___ru .suppa_column_link:hover .suppa_item_title {
                    color:#F7972B;
                }

            /** ----------------------------------------------------------------
             ******** Description Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_submenu_columns_wrap .suppa_item_desc{
                font-size:12px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;
                color:#c9c9c9;

                padding-top:5px !important;
            }
            .header-top-nav___ru .suppa_column_title:hover .suppa_item_desc,
            .header-top-nav___ru .suppa_column_link:hover .suppa_item_desc {
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Submenu Mega Links Title Icons Style
             ---------------------------------------------------------------- **/
            /* Title Icon */
            .header-top-nav___ru .suppa_column_title .ctf_suppa_fa_box {
                color:#151515;
            }
            .header-top-nav___ru .suppa_column_title:hover .ctf_suppa_fa_box {
                color:#151515;
            }

            /* Link Icon */
            .header-top-nav___ru .suppa_column_link .ctf_suppa_fa_box {
                color:#646565;
            }
            .header-top-nav___ru .suppa_column_link:hover .ctf_suppa_fa_box {
                color:#F7972B;
            }

            /** F.Awesome Icons **/
            .header-top-nav___ru .suppa_column_title .suppa_FA_icon {
                font-size:15px !important;
                margin-top: 2px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .header-top-nav___ru .suppa_column_title .suppa_UP_icon {
                width : 15px !important;
                height : 15px !important;
                margin-top: 2px !important;
                padding-right: 10px !important;
            }

            /** ----------------------------------------------------------------
             ******** Submenu Mega Links Links Icons Style
             ---------------------------------------------------------------- **/
            /** F.Awesome Icons **/
            .header-top-nav___ru .suppa_column_link .suppa_FA_icon {
                font-size:15px !important;
                padding-top: 1px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .header-top-nav___ru .suppa_column_link .suppa_UP_icon {
                width : 15px !important;
                height : 15px !important;
                padding-top: 1px !important;
                padding-right: 10px !important;
            }

            /** ----------------------------------------------------------------
             ********  Submenu Mega Links Current Link Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu .suppa_submenu_columns_wrap .current-menu-item,
            .header-top-nav___ru .suppa_menu .suppa_submenu_columns_wrap .current-menu-item .ctf_suppa_fa_box,
            .header-top-nav___ru .suppa_menu .suppa_submenu_columns_wrap .current-menu-item .suppa_item_title{
                color:#F7972B !important;
            }

            .header-top-nav___ru .suppa_menu .suppa_submenu_columns_wrap .current-menu-item {
                background-color:#ffffff;
            }

            .header-top-nav___ru .suppa_menu .suppa_submenu_columns_wrap .current-menu-item .era_suppa_arrow_box span{
                color:#ffffff;
            }



            /** ----------------------------------------------------------------
             ******** Submenu DropDown Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu a {
                font-size:14px !important;
                font-family:'Open Sans' , sans-serif !important;
                font-style:normal;
                border-bottom:1px solid #f0f0f0;
                padding: 10px 0px 10px 0px;
            }

            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu a .suppa_item_title{
                font-size:14px !important;
                font-family:'Open Sans' , sans-serif !important;
                font-style:normal;
                color:#646565;
            }

            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu div:hover > a ,
            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu a:hover {
                color:#F7972B;
                background-color:transparent;
                padding-left : 0px;
            }
            .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_item_title,
            .suppa_menu_dropdown > .suppa_submenu a:hover .suppa_item_title{
                color:#F7972B;
            }

            /** Needed for suppa_frontend.js **/
            .header-top-nav___ru .suppa_submenu .suppa_menu_class_dropdown_levels_hover > a {
                color:#F7972B;
                background-color:transparent;
            }
            .header-top-nav___ru .suppa_submenu .suppa_menu_class_dropdown_levels_hover > a .suppa_item_title{
                color:#F7972B;
            }

            /** ----------------------------------------------------------------
             ******** Description Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu .suppa_item_desc{
                font-size:12px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;
                color:#c9c9c9;

                padding-top:5px !important;
            }
            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_item_desc{
                color:#c9c9c9;
            }
            .header-top-nav___ru .suppa_submenu .suppa_menu_class_dropdown_levels_hover > a .suppa_item_desc{
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Submenu DropDown Icons Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu a .suppa_FA_icon{
                color:#646565;
            }

            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_FA_icon,
            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu a:hover .suppa_FA_icon{
                color:#F7972B;
            }

            /** Needed for suppa_frontend.js **/
            .header-top-nav___ru .suppa_menu_class_dropdown_levels_hover > a .ctf_suppa_fa_box{
                color:#F7972B;
            }

            /** F.Awesome Icons **/
            .header-top-nav___ru .suppa_menu_dropdown .suppa_submenu .suppa_FA_icon {
                font-size:14px !important;
                margin-top: 0px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .header-top-nav___ru .suppa_menu_dropdown .suppa_submenu .suppa_UP_icon {
                width : 14px !important;
                height : 14px !important;
                margin-top: 0px !important;
                padding-right: 10px;
            }

            /** Open Sub Right **/
            .header-top-nav___ru .suppa_submenu.suppa_submenu_pos_right .suppa_FA_icon{
                padding-right: 0 !important;
                padding-left: 10px !important;
            }
            .header-top-nav___ru .suppa_submenu.suppa_submenu_pos_right .suppa_UP_icon{
                padding-right: 0 !important;
                padding-left: 10px !important;
            }


            /** ----------------------------------------------------------------
             ******** Submenu DropDown Arrow Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_dropdown .suppa_submenu a .era_suppa_arrow_box {
                top:9px !important;
                right:10px;
            }
            .header-top-nav___ru .suppa_menu_dropdown .suppa_submenu a .era_suppa_arrow_box span {
                font-size:14px !important;
                /* color/bg/border */
                color:#646565;
            }
            .header-top-nav___ru .suppa_menu_dropdown div:hover > a .era_suppa_arrow_box span {
                color:#F7972B !important;
            }

            /** Needed for suppa_frontend.js **/
            .header-top-nav___ru .suppa_menu_class_dropdown_levels_hover > a .era_suppa_arrow_box span{
                color:#F7972B !important;
            }

            /** Open Sub Right **/
            .header-top-nav___ru .suppa_submenu.suppa_submenu_pos_right .suppa_fa_carret_left{
                right: auto !important;
                left: 10px;
            }
            .header-top-nav___ru .suppa_submenu.suppa_submenu_pos_right .suppa_fa_carret_right {
                display:none !important;
            }

            /** Open Sub Left **/
            .header-top-nav___ru .suppa_submenu.suppa_submenu_pos_left .suppa_fa_carret_left{
                display: none !important;
            }

            /** ----------------------------------------------------------------
             ******** Current Top Level Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .suppa_item_title ,
            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .ctf_suppa_fa_box,
            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .suppa_item_title{
                color:#F7972B ;
            }

            .header-top-nav___ru .suppa_menu_dropdown .current-menu-item {
                background-color:#ffffff;
            }

            .header-top-nav___ru .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .era_suppa_arrow_box span{
                color:#ffffff;
            }




            /** ----------------------------------------------------------------
             ******** Search Form Style
             ---------------------------------------------------------------- **/

             /** Form **/
            .header-top-nav___ru .suppa_menu_search form {
                margin-top:0px;
                margin-right:10px;
                margin-left:10px;
                width:150px;

            }

            /* Input */
            .header-top-nav___ru input{
                background-color:#ffffff;
                width:150px;
                height:26px;
                color:#06456e !important;

                padding-left:5px;
                padding-right:5px;

                font-size:12;
                font-family:Arial , sans-serif;
                font-style:normal;

                -webkit-border-radius:0px !important;
                -moz-border-radius:0px !important;
                border-radius:0px !important;

                border:1px solid #f5f5f3;
            }
            .header-top-nav___ru .suppa_menu_search ::-webkit-input-placeholder { /* WebKit browsers */
                color:#06456e !important;
            }
            .header-top-nav___ru .suppa_menu_search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:#06456e !important;
                opacity:  1;
            }
            .header-top-nav___ru .suppa_menu_search ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:#06456e !important;
                opacity:  1;
            }
            .header-top-nav___ru .suppa_menu_search :-ms-input-placeholder { /* Internet Explorer 10+ */
                color:#06456e !important;
            }


            /* Normal: Form */
            .header-top-nav___ru .suppa_search_normal form {
                height:26px;
                width:150px;
            }

            /* Normal : Search Icon */
            .header-top-nav___ru .suppa_search_normal .suppa_search_icon{
                font-size:14px !important;
                height:26px;
                line-height:26px;
                background-color:#ffffff;

                border-radius: 0 0px 0px 0 !important;

            }
            .header-top-nav___ru .suppa_search_normal .suppa_search_icon span{
                color:#ffffff;
                padding-left:0px;
                padding-right:0px;
            }


            /** Boxed **/
            .header-top-nav___ru .suppa_search_boxed form {
                margin-bottom:0px;
            }

            /** Boxed : Top Icon **/
            .header-top-nav___ru .suppa_top_level_link.suppa_search_icon{
                color:#ffffff;
                padding-top:0px;
                padding-left:0px;
                padding-right:0px;
                height:50px !important;
            }
            .header-top-nav___ru .suppa_menu:hover .suppa_top_level_link.suppa_search_icon{
                color:#ffffff;
            }
            .header-top-nav___ru .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
                font-size:20px !important;
                margin-top: 16px !important;
                padding-right: 10px !important;
            }

            /* Modern */
            .header-top-nav___ru .suppa_submenu_modern_search{
                z-index:20299;
                height:50px !important;
            }
            .header-top-nav___ru .suppa_submenu_modern_search form,
            .header-top-nav___ru .suppa_submenu_modern_search input{
                height:50px !important;
            }

            /* Modern : Close Icon */
            .header-top-nav___ru .suppa_submenu_modern_search .suppa_search_modern_close{
                z-index:20301;
                padding-top:0px;
                padding-left:0px;
                padding-right:0px;
                height:50px !important;
                font-size:20px !important;
                color:#06456e !important;
            }


            /** ----------------------------------------------------------------
             ******** Social Links Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_social a.suppa_top_level_link{
                padding-left:4px !important;
                padding-right:4px !important;
            }

            /** ----------------------------------------------------------------
             ******** Social Links Icons Style
             ---------------------------------------------------------------- **/
            /** F.Awesome Icons **/
            .header-top-nav___ru .suppa_menu_social .suppa_top_level_link .suppa_FA_icon_only {
                font-size:16px !important;
                padding-top: 0px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Only Icons **/
            .header-top-nav___ru .suppa_menu_social .suppa_top_level_link .suppa_UP_icon_only {
                width : 16px !important;
                height : 16px !important;
                padding-top: 16px !important;
                padding-right: 10px !important;
            }


            /** ----------------------------------------------------------------
             ******** WooCommerce
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_menu_woocommerce_cart a {
                height:50px !important;
                padding-left:30px;
                padding-right:30px;
            }

            .header-top-nav___ru .suppa_menu_woocommerce_cart > a,
            .header-top-nav___ru .suppa_menu_woocommerce_cart > a span.suppa_item_title {
                font-size:14px !important;
                font-family:'Roboto' , sans-serif !important;
                font-style:normal;
                color:#5f6366;
            }

            .header-top-nav___ru .suppa_menu_woocommerce_cart > a > span.suppa_item_title{
                padding-top:18px !important;
            }

            /* boder right or left */
            .header-top-nav___ru .suppa_menu_woocommerce_cart a.suppa_menu_position_left,
            .header-top-nav___ru .suppa_menu .suppa_menu_position_left{
                border-right:1px solid #e7e4d9;
            }
            .header-top-nav___ru .suppa_menu_woocommerce_cart a.suppa_menu_position_right,
            .header-top-nav___ru .suppa_menu .suppa_menu_position_right{
                border-left:1px solid #e7e4d9;
            }

            /* Hover */
            .header-top-nav___ru .suppa_menu_woocommerce_cart:hover > a{
                background-color:#F7972B;
                color:#ffffff;
            }
            .header-top-nav___ru .suppa_menu_woocommerce_cart:hover > a > span.suppa_item_title{
                color:#ffffff;
            }

            /* Current Link */
            .header-top-nav___ru .suppa_menu_woocommerce_cart > a.current-menu-item,
            .header-top-nav___ru .suppa_menu_woocommerce_cart > a.current-menu-ancestor {
                color:#ffffff ;
                background-color:#F7972B;
            }
            .header-top-nav___ru .suppa_menu_woocommerce_cart > a.current-menu-item .ctf_suppa_fa_box,
            .header-top-nav___ru .suppa_menu_woocommerce_cart > a.current-menu-ancestor .ctf_suppa_fa_box{
                color:#ffffff;
            }

            /* Fix for canvas theme */
            .header-top-nav___ru .suppa_menu_woocommerce_cart a.cart-contents {
                padding-left:30px;
                padding-right:30px;
            }
            .header-top-nav___ru .suppa_menu_woocommerce_cart a.cart-contents .suppa_item_title{
                font-size:14px !important;
                font-family:'Roboto' , sans-serif !important;
                font-style:normal;
                color:#5f6366;
                padding-top:18px !important;
            }
            /* Hover */
            .header-top-nav___ru .suppa_menu_woocommerce_cart:hover > a.cart-contents{
                background-color:#F7972B;
                color:#ffffff;
            }
            .header-top-nav___ru .suppa_menu_woocommerce_cart:hover > a.cart-contents span{
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Responsive Web Design Style
             ---------------------------------------------------------------- **/

            .header-top-nav___ru .suppa_rwd_top_button_container{
                height:50px !important;
                background-color:#f5f5f3;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* Borders */
                border-top: 0px solid #111111;
                border-right: 0px solid #111111;
                border-bottom: 0px solid #111111;
                border-left: 0px solid #111111;
            }

            .header-top-nav___ru .suppa_rwd_menus_container {
                /* color/bg/border */
                background-color:#ffffff;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;
            }


            /* Top Button & Text */
            .header-top-nav___ru .suppa_rwd_button,
            .header-top-nav___ru .suppa_rwd_text {
                line-height:50px !important;
            }
            .header-top-nav___ru .suppa_rwd_button {
                padding-right:20px !important;
                padding-left:20px !important;
                line-height:50px !important;
            }
            .header-top-nav___ru .suppa_rwd_button,
            .header-top-nav___ru .suppa_rwd_button span{
                font-size:30px !important;
                color:#484747;
            }
            .header-top-nav___ru .suppa_rwd_text{
                font-size:20px !important;
                font-family:'Open Sans' , sans-serif !important;
                font-style:normal;
                color :#484747 !important;

                padding: 0px 20px !important;
                line-height:50px !important;
            }


            /* Submenu for latest posts, mega links, mega posts, html */
            .header-top-nav___ru .suppa_mega_posts_allposts_posts,
            .header-top-nav___ru .suppa_rwd_submenu_posts,
            .header-top-nav___ru .suppa_rwd_submenu_html,
            .header-top-nav___ru .suppa_rwd_submenu_columns_wrap {
                background-color:#ffffff;
                border-bottom: 1px solid #e7e4d9;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* Padding */
                padding-top:10px !important;
                padding-bottom:10px !important;
                padding-right:0px !important;
                padding-left:10px !important;

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 0px 0px rgba( 100,100,100,0);
                -webkit-box-shadow: 0px 0px 0px 0px rgba( 100,100,100,0);
                box-shadow        : 0px 0px 0px 0px rgba( 100,100,100,0);
            }


            /* Main Links */
            .header-top-nav___ru .suppa_rwd_menu > a,
            .header-top-nav___ru .suppa_rwd_submenu_mega_posts > a,
            .header-top-nav___ru .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                font-size:15px !important;
                font-family:'Open Sans' , sans-serif !important;
                font-style:normal;
                color :#606366;

                height:35px !important;
                line-height:35px !important;
                border-bottom:1px solid #e7e4d9 !important;
                background-color:#F5F5F3;
            }
            .header-top-nav___ru .suppa_rwd_menu > a .suppa_item_title,
            .header-top-nav___ru .suppa_rwd_submenu_mega_posts > a .suppa_item_title,
            .header-top-nav___ru .suppa_rwd_submenu > .suppa_dropdown_item_container > a .suppa_item_title{
                font-size:15px !important;
                font-family:'Open Sans' , sans-serif !important;
                font-style:normal;
                color :#606366;
            }

            .header-top-nav___ru .era_rwd_suppa_link_both_open,
            .header-top-nav___ru .suppa_rwd_menu:hover > a,
            .header-top-nav___ru .suppa_rwd_submenu_mega_posts > a:hover,
            .header-top-nav___ru .suppa_rwd_menu .suppa_dropdown_item_container a:hover {
                color :#ffffff !important;
                background-color :#F7972B !important;
            }
            .header-top-nav___ru .era_rwd_suppa_link_both_open .suppa_item_title,
            .header-top-nav___ru .suppa_rwd_menu:hover > a .suppa_item_title,
            .header-top-nav___ru .suppa_rwd_submenu_mega_posts > a:hover .suppa_item_title,
            .header-top-nav___ru .suppa_rwd_menu .suppa_dropdown_item_container a:hover .suppa_item_title{
                color :#ffffff !important;
            }
            .header-top-nav___ru .suppa_rwd_menus_container{
                border-top:1px solid #e7e4d9 !important;
            }

            .header-top-nav___ru .suppa_rwd_menu > a{
                padding-left:20px !important;
            }
            .header-top-nav___ru .suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                padding-left:36px !important;
            }
            .header-top-nav___ru .suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                padding-left:56px !important;
            }
            .header-top-nav___ru .suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                padding-left:76px !important;
            }

            /* Main Links Arrows */
            .header-top-nav___ru .suppa_rwd_menu > a .era_rwd_suppa_arrow_box {
                font-size:14px !important;

                /* color/bg/border */
                color:#606366;
            }
            .header-top-nav___ru .suppa_rwd_menu:hover > a .era_rwd_suppa_arrow_box {
                color:#ffffff !important;
            }
            .header-top-nav___ru .era_rwd_suppa_arrow_both_open{
                color :#606366 !important;
                background-color:#F5F5F3 !important;
            }
            .header-top-nav___ru .era_rwd_suppa_link_both_open{
                color :#ffffff !important;
                background-color :#F7972B !important;
            }

            /* Search Form */
            .header-top-nav___ru .suppa_rwd_search{
                border-bottom:1px solid #e7e4d9 !important;
            }
            .header-top-nav___ru .suppa_rwd_search{
                padding-top:10px !important;
                padding-bottom:10px !important;
                padding-right:0px !important;
                padding-left:10px !important;

            }
            .header-top-nav___ru .suppa_rwd_search input[type="text"]{
                background-color:#ffffff;
                height:26px;
                line-height:26px;
                color:#06456e !important;

                padding-left:5px;
                padding-right:5px;

                font-size:12;
                font-family:Arial , sans-serif;
                font-style:normal;

                -webkit-border-radius:0px;
                -moz-border-radius:0px;
                border-radius:0px;

                border:1px solid #f5f5f3;
            }


            /* Mega Posts */
            .header-top-nav___ru .suppa_rwd_submenu_mega_posts > a {
                padding-left:40px !important;
            }


            /** ----------------------------------------------------------------
             ******** RWD Icons Style
             ---------------------------------------------------------------- **/
            .header-top-nav___ru .suppa_rwd_menu > a .ctf_suppa_fa_box,
            .header-top-nav___ru .suppa_rwd_menu .suppa_dropdown_item_container .ctf_suppa_fa_box{
                color :#606366;

            }
            .header-top-nav___ru .era_rwd_suppa_link_both_open .ctf_suppa_fa_box,
            .header-top-nav___ru .suppa_rwd_menu:hover > a .ctf_suppa_fa_box,
            .header-top-nav___ru .suppa_rwd_menu .suppa_dropdown_item_container a:hover .ctf_suppa_fa_box {
                color :#ffffff !important;
            }


            /** F.Awesome Icons **/
            .header-top-nav___ru .suppa_rwd_menu > a .suppa_FA_icon,
            .header-top-nav___ru .suppa_rwd_menu .suppa_dropdown_item_container .suppa_FA_icon
             {
                font-size:15px !important;
                padding-top: 10px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .header-top-nav___ru .suppa_rwd_menu > a .suppa_UP_icon,
            .header-top-nav___ru .suppa_rwd_menu .suppa_dropdown_item_container a .suppa_UP_icon
             {
                width : 14px !important;
                height : 14px !important;
                padding-top: 10px !important;
                padding-right: 10px !important;
            }

        .suppa_demo_container {
    padding:10px;
    font-size:14px;
    overflow:hidden;
}

.suppa_demo_container h3 {
    color:#ffffff;
    font-size:17px;
    margin-bottom:15px;
}

.suppa_demo_container input[type="text"],
.suppa_demo_container input[type="password"]{
    width:208px;
    padding:5px;
    margin:4px 0px;
    border:1px solid #cccccc;
    background:#ffffff;
    color:#555555;
    
}

.suppa_demo_container .suppa_demo_submit{
    margin-top:5px;
    padding:4px 12px;
    color:#555555;
    background:#ffffff;
    border:1px solid #cccccc;
    font-size:13px;
    text-decoration:none;
}