<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Мови` taxonomy...</div>
<div class="progress-msg">Composing terms for `Категорії товарів` taxonomy...</div>
<div class="progress-msg">Composing terms for `Позначки товарів` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Яспи Jaspi`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Яспи Jaspi`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Яспи Jaspi - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге, Венге/белый глянец, Орех салев, Орех салев/белый глянец</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>295</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>197,5</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>52,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Яспи Jaspi`</div>
<div class="progress-msg"><b>CREATING</b> `Яспи Jaspi` `Товар`</div>
<div class="progress-msg">Associate post `Яспи Jaspi` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `td3mugar.jpg` for `Яспи Jaspi` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image td3mugar.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `td3mugar.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File td3mugar.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Яспи Jaspi` `Товар` (ID: 3972)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Сансет Sunset`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Сансет Sunset`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Сансет Sunset - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Дуб сонома/белый</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>270</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>200</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>40</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Сансет Sunset`</div>
<div class="progress-msg"><b>CREATING</b> `Сансет Sunset` `Товар`</div>
<div class="progress-msg">Associate post `Сансет Sunset` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `wxj0nss4.jpg` for `Сансет Sunset` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image wxj0nss4.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `wxj0nss4.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File wxj0nss4.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Сансет Sunset` `Товар` (ID: 3973)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ректус Rektus`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ректус Rektus`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ректус Rektus - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Орех калифорнийский</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>280</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>192,5</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>51,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ректус Rektus`</div>
<div class="progress-msg"><b>CREATING</b> `Ректус Rektus` `Товар`</div>
<div class="progress-msg">Associate post `Ректус Rektus` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `s5myjr1i.jpg` for `Ректус Rektus` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image s5myjr1i.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `s5myjr1i.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File s5myjr1i.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ректус Rektus` `Товар` (ID: 3974)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Петио Petio`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Петио Petio`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Петио Petio - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>310</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>200</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>52</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Петио Petio`</div>
<div class="progress-msg"><b>CREATING</b> `Петио Petio` `Товар`</div>
<div class="progress-msg">Associate post `Петио Petio` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `rbnl10wu.jpg` for `Петио Petio` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image rbnl10wu.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `rbnl10wu.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File rbnl10wu.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Петио Petio` `Товар` (ID: 3975)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Лион Lyon`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Лион Lyon`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Лион Lyon - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Дуб сонома</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>310</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>203</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>48</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Лион Lyon`</div>
<div class="progress-msg"><b>CREATING</b> `Лион Lyon` `Товар`</div>
<div class="progress-msg">Associate post `Лион Lyon` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `astc1izq.jpg` for `Лион Lyon` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image astc1izq.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `astc1izq.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File astc1izq.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Лион Lyon` `Товар` (ID: 3976)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ламия Lamia`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ламия Lamia`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ламия Lamia - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Палио</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>260,5</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>194</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>51,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ламия Lamia`</div>
<div class="progress-msg"><b>CREATING</b> `Ламия Lamia` `Товар`</div>
<div class="progress-msg">Associate post `Ламия Lamia` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `xys1hewc.jpg` for `Ламия Lamia` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image xys1hewc.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `xys1hewc.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File xys1hewc.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ламия Lamia` `Товар` (ID: 3977)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Лена Lena`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Лена Lena`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Лена Lena - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Дуб сонома темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>228</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>42</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Лена Lena`</div>
<div class="progress-msg"><b>CREATING</b> `Лена Lena` `Товар`</div>
<div class="progress-msg">Associate post `Лена Lena` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `h43di0nw.jpg` for `Лена Lena` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image h43di0nw.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `h43di0nw.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File h43di0nw.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Лена Lena` `Товар` (ID: 3978)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кватро Quatro`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кватро Quatro`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кватро Quatro - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Дуб ливанский</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>200</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>40,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кватро Quatro`</div>
<div class="progress-msg"><b>CREATING</b> `Кватро Quatro` `Товар`</div>
<div class="progress-msg">Associate post `Кватро Quatro` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `xwafgizj.jpg` for `Кватро Quatro` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image xwafgizj.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `xwafgizj.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File xwafgizj.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кватро Quatro` `Товар` (ID: 3979)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кайо Cayo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кайо Cayo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кайо Cayo - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Антрацит, Маккасар</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>268,5</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>220</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>44,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кайо Cayo`</div>
<div class="progress-msg"><b>CREATING</b> `Кайо Cayo` `Товар`</div>
<div class="progress-msg">Associate post `Кайо Cayo` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `5ziyyp1o.jpg` for `Кайо Cayo` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 5ziyyp1o.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `5ziyyp1o.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File 5ziyyp1o.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кайо Cayo` `Товар` (ID: 3980)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Имперор Imperor`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Имперор Imperor`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Имперор Imperor - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Дуб сонома</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>300</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>153-196</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>50</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Имперор Imperor`</div>
<div class="progress-msg"><b>CREATING</b> `Имперор Imperor` `Товар`</div>
<div class="progress-msg">Associate post `Имперор Imperor` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `2o5wmpo5.jpg` for `Имперор Imperor` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 2o5wmpo5.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `2o5wmpo5.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File 2o5wmpo5.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Имперор Imperor` `Товар` (ID: 3981)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Селин Celine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Селин Celine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Селин Celine - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый/белый глянец</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>276</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>191</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>45.5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Селин Celine`</div>
<div class="progress-msg"><b>CREATING</b> `Селин Celine` `Товар`</div>
<div class="progress-msg">Associate post `Селин Celine` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `52erxeh1.jpg` for `Селин Celine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 52erxeh1.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `52erxeh1.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File 52erxeh1.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Селин Celine` `Товар` (ID: 3982)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кайли Kylie`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кайли Kylie`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кайли Kylie - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый/белый глянец</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>280</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>195</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>45.5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кайли Kylie`</div>
<div class="progress-msg"><b>CREATING</b> `Кайли Kylie` `Товар`</div>
<div class="progress-msg">Associate post `Кайли Kylie` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `zou3xw0r.jpg` for `Кайли Kylie` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image zou3xw0r.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `zou3xw0r.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File zou3xw0r.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кайли Kylie` `Товар` (ID: 3983)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Барато Barato`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Барато Barato`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Барато Barato - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Слива венгерская, Черный блеск/глянец</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>240</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>40</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Барато Barato`</div>
<div class="progress-msg"><b>CREATING</b> `Барато Barato` `Товар`</div>
<div class="progress-msg">Associate post `Барато Barato` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `glowssjo.jpg` for `Барато Barato` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image glowssjo.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `glowssjo.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File glowssjo.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Барато Barato` `Товар` (ID: 3984)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Аргус Argus`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Аргус Argus`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Аргус Argus - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>280</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>43,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Аргус Argus`</div>
<div class="progress-msg"><b>CREATING</b> `Аргус Argus` `Товар`</div>
<div class="progress-msg">Associate post `Аргус Argus` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `cyqh4v3w.jpg` for `Аргус Argus` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image cyqh4v3w.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `cyqh4v3w.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File cyqh4v3w.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Аргус Argus` `Товар` (ID: 3985)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кармела Karmela`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кармела Karmela`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кармела Karmela - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>240</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>43,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кармела Karmela`</div>
<div class="progress-msg"><b>CREATING</b> `Кармела Karmela` `Товар`</div>
<div class="progress-msg">Associate post `Кармела Karmela` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ad1001gx.jpg` for `Кармела Karmela` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image ad1001gx.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `ad1001gx.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File ad1001gx.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кармела Karmela` `Товар` (ID: 3986)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Калипсо Kalipso`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Калипсо Kalipso`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Калипсо Kalipso - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>240</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>43,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Калипсо Kalipso`</div>
<div class="progress-msg"><b>CREATING</b> `Калипсо Kalipso` `Товар`</div>
<div class="progress-msg">Associate post `Калипсо Kalipso` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `dovx2ssl.jpg` for `Калипсо Kalipso` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image dovx2ssl.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `dovx2ssl.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File dovx2ssl.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Калипсо Kalipso` `Товар` (ID: 3987)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Акона Akona`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Акона Akona`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Акона Akona - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Вишня малага</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>311,5</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>195</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>56,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Акона Akona`</div>
<div class="progress-msg"><b>CREATING</b> `Акона Akona` `Товар`</div>
<div class="progress-msg">Associate post `Акона Akona` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `tcb3pe30.jpg` for `Акона Akona` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image tcb3pe30.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `tcb3pe30.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File tcb3pe30.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Акона Akona` `Товар` (ID: 3988)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Аврора`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Аврора`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Аврора - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый глянец, Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>120</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>82</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>45.3</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Аврора`</div>
<div class="progress-msg"><b>CREATING</b> `Аврора` `Товар`</div>
<div class="progress-msg">Associate post `Аврора` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `zk4v35lu.jpg` for `Аврора` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image zk4v35lu.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `zk4v35lu.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File zk4v35lu.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Аврора` `Товар` (ID: 3989)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Милена Milena`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Милена Milena`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Милена Milena - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Дуб сонома</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>228</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>42</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Милена Milena`</div>
<div class="progress-msg"><b>CREATING</b> `Милена Milena` `Товар`</div>
<div class="progress-msg">Associate post `Милена Milena` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `mcdc3fkp.jpg` for `Милена Milena` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image mcdc3fkp.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `mcdc3fkp.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File mcdc3fkp.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Милена Milena` `Товар` (ID: 3990)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ада Ada`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ада Ada`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ада Ada - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Дуб сонома</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>280</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>43</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ада Ada`</div>
<div class="progress-msg"><b>CREATING</b> `Ада Ada` `Товар`</div>
<div class="progress-msg">Associate post `Ада Ada` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `52fkma0f.jpg` for `Ада Ada` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 52fkma0f.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `52fkma0f.jpg`</div>
<div class="progress-msg">- <b>WARNING</b>: File 52fkma0f.jpg is not a valid image and cannot be set as featured one</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ада Ada` `Товар` (ID: 3991)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
