<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Мови` taxonomy...</div>
<div class="progress-msg">Composing terms for `Категорії товарів` taxonomy...</div>
<div class="progress-msg">Composing terms for `Позначки товарів` taxonomy...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Эдо Edo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Эдо Edo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Эдо Edo - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Орех балтимор</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>265</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>181</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>44</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Эдо Edo`</div>
<div class="progress-msg"><b>CREATING</b> `Эдо Edo` `Товар`</div>
<div class="progress-msg">Associate post `Эдо Edo` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `dgnhp33l.jpg` for `Эдо Edo` ...</div>
<div class="progress-msg">- Using existing image `dgnhp33l.jpg` for post `Эдо Edo` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/dgnhp33l.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Эдо Edo` `Товар` (ID: 4013)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Сансет Sunset`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Сансет Sunset`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Сансет Sunset - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Дуб сонома/белый</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>270</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>200</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>40</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Сансет Sunset`</div>
<div class="progress-msg"><b>CREATING</b> `Сансет Sunset` `Товар`</div>
<div class="progress-msg">Associate post `Сансет Sunset` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `2mbdl34m.jpg` for `Сансет Sunset` ...</div>
<div class="progress-msg">- Using existing image `2mbdl34m.jpg` for post `Сансет Sunset` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/2mbdl34m.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Сансет Sunset` `Товар` (ID: 4014)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ректус Rektus`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ректус Rektus`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ректус Rektus - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Орех калифорнийский</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>280</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>192,5</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>51,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ректус Rektus`</div>
<div class="progress-msg"><b>CREATING</b> `Ректус Rektus` `Товар`</div>
<div class="progress-msg">Associate post `Ректус Rektus` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `hymmbkus.jpg` for `Ректус Rektus` ...</div>
<div class="progress-msg">- Using existing image `hymmbkus.jpg` for post `Ректус Rektus` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/hymmbkus.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ректус Rektus` `Товар` (ID: 4015)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Лена Lena`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Лена Lena`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Лена Lena - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Дуб сонома темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>228</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>42</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Лена Lena`</div>
<div class="progress-msg"><b>CREATING</b> `Лена Lena` `Товар`</div>
<div class="progress-msg">Associate post `Лена Lena` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `lymprouo.jpg` for `Лена Lena` ...</div>
<div class="progress-msg">- Using existing image `lymprouo.jpg` for post `Лена Lena` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/lymprouo.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Лена Lena` `Товар` (ID: 4016)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Петио Petio`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Петио Petio`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Петио Petio - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>310</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>200</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>52</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Петио Petio`</div>
<div class="progress-msg"><b>CREATING</b> `Петио Petio` `Товар`</div>
<div class="progress-msg">Associate post `Петио Petio` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ewgtekpu.jpg` for `Петио Petio` ...</div>
<div class="progress-msg">- Using existing image `ewgtekpu.jpg` for post `Петио Petio` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/ewgtekpu.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Петио Petio` `Товар` (ID: 4017)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Лион Lyon`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Лион Lyon`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Лион Lyon - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Дуб сонома</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>310</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>203</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>48</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Лион Lyon`</div>
<div class="progress-msg"><b>CREATING</b> `Лион Lyon` `Товар`</div>
<div class="progress-msg">Associate post `Лион Lyon` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `y0bkcayx.jpg` for `Лион Lyon` ...</div>
<div class="progress-msg">- Using existing image `y0bkcayx.jpg` for post `Лион Lyon` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/y0bkcayx.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Лион Lyon` `Товар` (ID: 4018)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ламия Lamia`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ламия Lamia`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ламия Lamia - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Палио</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>260,5</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>194</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>51,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ламия Lamia`</div>
<div class="progress-msg"><b>CREATING</b> `Ламия Lamia` `Товар`</div>
<div class="progress-msg">Associate post `Ламия Lamia` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `pnf4ajsg.jpg` for `Ламия Lamia` ...</div>
<div class="progress-msg">- Using existing image `pnf4ajsg.jpg` for post `Ламия Lamia` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/pnf4ajsg.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ламия Lamia` `Товар` (ID: 4019)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Селин Celine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Селин Celine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Селин Celine - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый/белый глянец</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>276</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>191</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>45.5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Селин Celine`</div>
<div class="progress-msg"><b>CREATING</b> `Селин Celine` `Товар`</div>
<div class="progress-msg">Associate post `Селин Celine` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `yhe1dhzo.jpg` for `Селин Celine` ...</div>
<div class="progress-msg">- Using existing image `yhe1dhzo.jpg` for post `Селин Celine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/yhe1dhzo.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Селин Celine` `Товар` (ID: 4020)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кватро Quatro`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кватро Quatro`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кватро Quatro - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Дуб ливанский</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>200</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>40,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кватро Quatro`</div>
<div class="progress-msg"><b>CREATING</b> `Кватро Quatro` `Товар`</div>
<div class="progress-msg">Associate post `Кватро Quatro` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `gsuyhsqd.jpg` for `Кватро Quatro` ...</div>
<div class="progress-msg">- Using existing image `gsuyhsqd.jpg` for post `Кватро Quatro` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/gsuyhsqd.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кватро Quatro` `Товар` (ID: 4021)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кайо Cayo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кайо Cayo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кайо Cayo - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Антрацит, Маккасар</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>268,5</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>220</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>44,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кайо Cayo`</div>
<div class="progress-msg"><b>CREATING</b> `Кайо Cayo` `Товар`</div>
<div class="progress-msg">Associate post `Кайо Cayo` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `5ikoh2jw.jpg` for `Кайо Cayo` ...</div>
<div class="progress-msg">- Using existing image `5ikoh2jw.jpg` for post `Кайо Cayo` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/5ikoh2jw.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кайо Cayo` `Товар` (ID: 4022)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кайли Kylie`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кайли Kylie`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кайли Kylie - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый/белый глянец</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>280</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>195</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>45.5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кайли Kylie`</div>
<div class="progress-msg"><b>CREATING</b> `Кайли Kylie` `Товар`</div>
<div class="progress-msg">Associate post `Кайли Kylie` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `2jd3ac21.jpg` for `Кайли Kylie` ...</div>
<div class="progress-msg">- Using existing image `2jd3ac21.jpg` for post `Кайли Kylie` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/2jd3ac21.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кайли Kylie` `Товар` (ID: 4023)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Кармела Karmela`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Кармела Karmela`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Кармела Karmela - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>240</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>43,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Кармела Karmela`</div>
<div class="progress-msg"><b>CREATING</b> `Кармела Karmela` `Товар`</div>
<div class="progress-msg">Associate post `Кармела Karmela` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `du4dqmnd.jpg` for `Кармела Karmela` ...</div>
<div class="progress-msg">- Using existing image `du4dqmnd.jpg` for post `Кармела Karmela` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/du4dqmnd.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Кармела Karmela` `Товар` (ID: 4024)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Имперор Imperor`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Имперор Imperor`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Имперор Imperor - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Венге магия, Дуб сонома</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>300</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>153-196</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>50</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Имперор Imperor`</div>
<div class="progress-msg"><b>CREATING</b> `Имперор Imperor` `Товар`</div>
<div class="progress-msg">Associate post `Имперор Imperor` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `2qaxfjjl.jpg` for `Имперор Imperor` ...</div>
<div class="progress-msg">- Using existing image `2qaxfjjl.jpg` for post `Имперор Imperor` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/2qaxfjjl.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Имперор Imperor` `Товар` (ID: 4025)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Барато Barato`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Барато Barato`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Барато Barato - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Слива венгерская, Черный блеск/глянец</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>240</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>40</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Барато Barato`</div>
<div class="progress-msg"><b>CREATING</b> `Барато Barato` `Товар`</div>
<div class="progress-msg">Associate post `Барато Barato` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `q3rsyjjx.jpg` for `Барато Barato` ...</div>
<div class="progress-msg">- Using existing image `q3rsyjjx.jpg` for post `Барато Barato` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/q3rsyjjx.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Барато Barato` `Товар` (ID: 4026)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Калипсо Kalipso`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Калипсо Kalipso`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Калипсо Kalipso - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>240</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>43,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Калипсо Kalipso`</div>
<div class="progress-msg"><b>CREATING</b> `Калипсо Kalipso` `Товар`</div>
<div class="progress-msg">Associate post `Калипсо Kalipso` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `szuqxqn3.jpg` for `Калипсо Kalipso` ...</div>
<div class="progress-msg">- Using existing image `szuqxqn3.jpg` for post `Калипсо Kalipso` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/szuqxqn3.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Калипсо Kalipso` `Товар` (ID: 4027)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Милена Milena`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Милена Milena`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Милена Milena - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Дуб сонома</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>228</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>42</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Милена Milena`</div>
<div class="progress-msg"><b>CREATING</b> `Милена Milena` `Товар`</div>
<div class="progress-msg">Associate post `Милена Milena` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `oethsxlb.jpg` for `Милена Milena` ...</div>
<div class="progress-msg">- Using existing image `oethsxlb.jpg` for post `Милена Milena` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/oethsxlb.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Милена Milena` `Товар` (ID: 4028)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Аргус Argus`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Аргус Argus`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Аргус Argus - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>280</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>43,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Аргус Argus`</div>
<div class="progress-msg"><b>CREATING</b> `Аргус Argus` `Товар`</div>
<div class="progress-msg">Associate post `Аргус Argus` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `hsqcg3dl.jpg` for `Аргус Argus` ...</div>
<div class="progress-msg">- Using existing image `hsqcg3dl.jpg` for post `Аргус Argus` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/hsqcg3dl.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Аргус Argus` `Товар` (ID: 4029)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Акона Akona`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Акона Akona`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Акона Akona - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Вишня малага</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>311,5</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>195</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>56,5</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Акона Akona`</div>
<div class="progress-msg"><b>CREATING</b> `Акона Akona` `Товар`</div>
<div class="progress-msg">Associate post `Акона Akona` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ppsvy25i.jpg` for `Акона Akona` ...</div>
<div class="progress-msg">- Using existing image `ppsvy25i.jpg` for post `Акона Akona` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/ppsvy25i.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Акона Akona` `Товар` (ID: 4030)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Ада Ada`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ада Ada`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ада Ada - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый, Дуб сонома</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>280</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>190</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>43</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ада Ada`</div>
<div class="progress-msg"><b>CREATING</b> `Ада Ada` `Товар`</div>
<div class="progress-msg">Associate post `Ада Ada` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `00oca5la.jpg` for `Ада Ada` ...</div>
<div class="progress-msg">- Using existing image `00oca5la.jpg` for post `Ада Ada` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/00oca5la.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Ада Ada` `Товар` (ID: 4031)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Аврора`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Аврора`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Аврора - <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab" id="tab-additional_information">
				
	<h2>Дополнительная информация</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>Цвет</th>
			<td><p>Белый глянец, Венге магия, Дуб сонома, Штрокс темный</p>
</td>
		</tr>
			<tr class="alt">
			<th>Ширина</th>
			<td><p>120</p>
</td>
		</tr>
			<tr class="">
			<th>Высота</th>
			<td><p>82</p>
</td>
		</tr>
			<tr class="alt">
			<th>Глубина</th>
			<td><p>45.3</p>
</td>
		</tr>
	
</table>
			</div>`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Аврора`</div>
<div class="progress-msg"><b>CREATING</b> `Аврора` `Товар`</div>
<div class="progress-msg">Associate post `Аврора` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `435geckd.jpg` for `Аврора` ...</div>
<div class="progress-msg">- Using existing image `435geckd.jpg` for post `Аврора` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://1074955.webcooks.web.hosting-test.net/wp-content/uploads/2017/07/435geckd.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `language` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Аврора` `Товар` (ID: 4032)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
